[Desktop Entry]
Type=Application
Name=Touchpad Scroll Speed
Exec=sh -c "sleep 2 && xinput set-prop 'CUST0001:00 06CB:CDAD Touchpad' 'libinput Scrolling Pixel Distance' 50"
Hidden=false
NoDisplay=false
X-KDE-AutostartScript=true
